{% extends 'cars/base.html' %}
{% block title %}
<title>getVehicles | Add Car</title>
{% endblock %}
{% block body %}

<div class="container" flex="1" padding="20px">
    <form method="POST">
        {% csrf_token %}
    <h3 class="my-2"><strong><i>Add New car to our collection...</i></strong></h3>
    <div class="row">
        <div class="col-5 mx-auto card text-bg-secondary p-3" style="width: 20rem;">
            <div class="card-body">
                <h2 class="card-title mb-2 text-info"><strong>Add New Vehicle</strong></h2>
                {% for field in form %}
                <h6 class="card-subtitle mb-2 ">{{field.name}}</h6>
                <h6>{{field.Information}}</h6>
                <div class="mx-auto mb-2 p-2">{{field}}</div>
                {% endfor %}
                <button type="submit" class=" my-2 btn btn-dark">AddCar</button>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}